name: Publish Docker Image

on:
  push:
    branches: [main]

jobs:
  publish:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set image name (lowercase)
        run: |
          echo "IMAGE_NAME=ghcr.io/$(echo 'praveenuppar' | tr '[:upper:]' '[:lower:]')/todo-backend" >> $GITHUB_ENV

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build image
        run: docker build -t $IMAGE_NAME:latest .

      - name: Push image
        run: docker push $IMAGE_NAME:latest
